@import url('https://fonts.googleapis.com/css?family=Montserrat:300&subset=cyrillic');

/*Общие*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
    font-family: 'Montserrat';
}

html,
body {
    height: 100%;
}

.header {
    width: auto;
    padding: 1% 20%;
    background-color: #ffb79d;
}

.foo {margin: 200px;}

.container,
footer {
    width: 1400px;
    margin: 0 auto;
    padding-bottom: 5px;
}

h1 {
    margin-bottom: 35px;
    margin-top: 35px;
    color: #032626;
}

h2 {
    color: black;
    background-color: #eaeaea;
    font-size: 18px;
    font-weight: 400;
}

/*параметры изображения логотипа*/

.logo {
    width: 130px;
    height: 165px;
    background-image: url("image/logo.png");
    background-repeat: no-repeat;
    background-position: -20px 0;
    margin: 0;
    display: block;
    float: left;
    margin-left: -200px;
}

.logo a {
    width: 110px;
    height: 160px;
    display: block;
    margin-left: 10px;
    margin-top: 3px;
}

/*параметры логотипа на главной странице*/

.index-logo {
    margin-left: -60px;
    float: none;
}

/*меню*/

.menu li {
    list-style-type: none;
    height: 25px;
    background-color: #E3EDED;
    border: 1px solid #22A0A0;
    border-radius: 5px;
    margin-bottom: 5px;
}

.index-menu li {
    display: inline-block;
}

.p-menu {
    max-width: 75%;
}

.cat-menu {
    max-width: 92%;
}

/*пододвинуть меню к левому краю
.menu li:first-child {
    margin-left: -100px;
}*/

/*ссылки меню*/

.menu a {
    display: block;
    width: 100%;
    height: 25px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.index-menu a {
    width: 120px;
}

.menu li a:hover {
    color: #22A0A0;
}

.menu li a:active {
    color: skyblue;
}

/*КОНТАКТЫ*/

/*параметры полей типа текст и емайл*/

form {
    background-color: #E3EDED;
    border: 3px double #22A0A0;
    width: 68.5%;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;
    float: left;
    margin-left: 10px;
}

input[type="text"],
input[type="email"] {
    height: 30px;
    padding-left: 7px;
    margin-top: 5px;
}

input[type="checkbox"] {
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #bbb;
    background: #fff;
    outline: none;
    vertical-align: middle;
}

input[type="email"],
input[type="text"],
textarea {
    border-radius: 5px;
    border-color: #22A0A0;
    width: 96%;
}

textarea {
    max-width: 98%;
}

/*при вводе текста в поле с именем пользователя каждое слово с большой буквы(к плейсхолдеру стили не применяются)*/

#name-field:focus:not(:placeholder-shown) {
    text-transform: capitalize;
}

/*буквы остаются большими после того, как фокус убрали*/

#name-field:valid:not(:focus):not(:placeholder-shown) {
    text-transform: capitalize;
}

/*стиль плейсхолдеров*/

input[placeholder] {
    font-style: italic;
    font-size: 14px;
    color: grey;
    text-transform: none;
}

/*плейсхолдер не меняет стиль, когда в поле появляется фокус*/

input[placeholder]:focus:placeholder-shown {
    font-style: italic;
    font-size: 14px;
    color: grey;
    text-transform: none;
}

textarea {}

/*поля ввода с фокусом*/

input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
    color: black;
    background-color: aliceblue;
    font-style: normal;
}

/*валидно заполненные поля ввода*/

input[type="email"]:valid:not(:focus):not(:placeholder-shown),
input[type="text"]:valid:not(:focus):not(:placeholder-shown) {
    background-color: #edf9ed;
    font-style: normal;
    color: black;
}

/*невалидно заполненное поле email*/

input[type="email"]:invalid:not(:focus):not(:placeholder-shown) {
    background: pink;
    color: black;
}

/*h2 для страницы контактов*/

.contacts {
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 330px;
    float: left;
    background-color: #E3EDED;
    border: 1px solid #22A0A0;
}

.office {
    font-size: 20px;
    line-height: 30px;
    padding-left: 10px;
}

.office a {
    text-decoration: none;
    color: #22A0A0;
}

.map {
    width: 70.0005%;
    float: right;
    margin-right: 4%;
    outline: 3px double #22A0A0;
    border-radius: 5px;
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: -227px;
}

.empty {
    height: 30px;
    width: 100% clear: both;
    display: block;
}

/*СТРАНИЦА КАТАЛОГА*/

/*правая картинка на странице просмотра товара*/

.header-pic {
    width: 240px;
    height: 100px;
    float: right;
    margin-top: -97px;
    background-image: url(image/WordArt2.png);
    background-position: 0px -5px;
    margin-right: -250px;
    margin-left: 15px;
    opacity: 0.7;
}

/*h2*/

.item-r-page {
    background-color: #E3EDED;
    padding: 10px;
    border: 1px solid #22A0A0;
    margin-bottom: 10px;
}

.cont {
    display: block;
    width: 350px;
}

/*основное описание на странице просмотра товара*/

p.description {
    color: #707070;
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
    margin-bottom: 10px;
    line-height: 20px;
    text-indent: 10px;
}

/*стиль первой буквы параграфов описания на странице просмотра товара*/

p.description:first-letter {
    font-family: "Quicksand", serif;
    font-size: 200%;
    color: #155e5e;
}

/*основные характеристики на странице просмотра товара*/

.main {
    color: #484343;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
}

/*дополнительные характеристики на странице просмотра товара*/

.extra li {
    list-style-image: url(image/icon.png);
    color: #484343;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 5px;
}

/*стиль астериска*/

label.required:before {
    font-family: monospace;
    content: "*";
    margin-right: 3px;
    font-size: 130%;
    vertical-align: top;
    color: red;
}

/*выравнивание меню по левому краю в связи с появлением X*/

input,
textarea {
    margin-left: 10px;
}

/* параметры при наведении на товар каталога*/

.overlay {
    background-color: #ffffff;
    text-align: center;
    position: absolute;
    width: 350px;
    height: 350px;
    opacity: 0;
}

.overlay:hover {
    opacity: 0.9;
}

.overlay ul {
    padding-top: 10px;
    list-style-type: none;
    margin-top: 80px;
    border: 1px solid #22A0A0;
    background-color: #E3EEEE;
    opacity: 1;
}

.overlay li {
    margin-bottom: 10px;
}

a .overlay li {
    color: black;
}

.item-cat a {
    text-decoration: none;
}

.item-cat a p:hover {
    color: #22A0A0;
}

.item-cat a p:active {
    color: skyblue;
}

.item-cat p {
    color: black;
}

/*рамка изображения на странице просмотра товара*/

.item-image,
.item-cat {
    outline: 1px dashed #22A0A0;
}

.item-image:hover {
    outline: none;
}

/*выравнивание значений основных характеристик товара по правой стороне*/

td:nth-child(2n) {
    text-align: right;
    word-wrap: normal;
}

td {
    border-bottom: 1px dashed black;
}

/*изображение на странице просмотра товара*/

.container {
    min-height: 100%;
    padding: 10px;
}

.container .item-image {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 22px;
}

/*описание товара*/

.container .item-desc {
    width: 690px;
    display: inline-block;
    float: left;
}

/*блок основных характеристик отображается под блоком описания*/

.container .main-char,
.contacts {
    clear: both;
}

/*количество-стоимость-купить*/

.wrap {
    display: flex;
    border-radius: 5px;
    max-width: 368px;
    min-width: 320px;
    background-color: #E3EDED;
    color: darkcyan;
    color: darkcyan;
    height: 60px;
    margin-bottom: 10px;
}

.times {
    margin: 20px 3px;
    float: left;
    width: 10%
}

/*поле ввода количества*/

.catalog_quantity {
    width: 20%;
    margin: 10px;
}

.catalog_quantity input[type="number"] {
    width: 50px;
    border-radius: 15px;
    cursor: pointer;
    padding-left: 15px;
    height: 28px;
    border: none;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 0;
}

/*цена и валюта*/

.catalog_cost {
    width: 63%;
    text-align: center;
    margin: 0;
}

.wrap .price {
    font-size: 27px;
    position: relative;
    top: 13px;
}

.catalog_buy {
    width: 32%;
}

/*кнопки*/

.btn {
    height: 30px;
    border-radius: 12px;
    cursor: pointer;
    border-width: 0px;
    padding: 0 10px;
    font-size: 14px;
}

.btn:hover {
    background-color: darkgray;
}

.btn:focus {
    outline: none;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
}

.btn-success:active {
    color: #fff;
    background-color: #449d48;
}

.btn-buy {
    height: 40px;
    width: 80px;
    font-size: 20px;
    margin: 10px;
}

/*КАТАЛОГ*/

/*центирование товаров в каталоге*/

.item-cat {
    width: 30.5%;
    height: 26%;
    min-width: 202px;
}

.item-cat img {
    width: 350px;
    height: 350px;
}

.cat {
    padding-left: 9%;
    padding-right: 9%;
}

/*контейнер для товаров каталога*/

.item-cat {
    display: inline-block;
    margin-right: 19px;
    margin-bottom: 19px;
    padding: 5px;
    background-color: #E3EDED;
}

.clr {
    height: 265px;
}

/*ГЛАВНАЯ*/

.mp {
    padding: 10px;
    background-color: #E3EDED;
    border: 1px solid #22A0A0;
    color: darkslategray;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.mp + p {
    font-size: 20px;
    max-width: 1100px;
    margin-bottom: 10px;
    text-indent: 30px;
    line-height: 30px;
}

.mp + ul {
    font-size: 20px;
    line-height: 35px;
    width: 910px;
}

.ant-choice {
    list-style-image: url(image/icon.png);
    margin-left: 50px;
}

.main-page-p {
    font-size: 22px;
    font-weight: 100;
    line-height: 32px;
    text-indent: 30px;
}

/**/

footer {
    background-color: darkslategrey;
    height: 265px;
    clear: both;
    margin-top: -265px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

footer h6 {
    margin-top: 30px;
    margin-bottom: 10px;
}
footer h6 a {
    color: #6c6c6c;
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
    color: aliceblue;
}

footer p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.col {
    width: 30%;
    margin-left: 30px;
}

.col-email p {
    width: 80%;
}

/*карта сайта*/

footer .menu-bottom li a {
    color: white;
    font-size: 16px;
}

footer .menu-bottom li:nth-child(2n + 1) {
    display: block;
    float: left;
    width: 50%;
}

footer .menu-bottom li:nth-child(2n) {
    display: block;
    float: left;
    width: 50%;
}

footer .menu-bottom a {
    text-decoration: none;
    font-weight: 700;
    line-height: 26px;
}

p.copy {
    float: left;
    margin-left: 30px;
}

.copyright img {
    margin-left: 100px;
}

form.subscribe {
    height: 40px;
    margin: 10px 0;
}

.mail {
    width: 97%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #000;
    background-color: white;
    padding-left: 3px;
}

.mail input[type="email"] {
    vertical-align: middle;
    width: 80%;
    height: 38px;
    border: none;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    padding-left: 15px;
    margin: 0;
}

input[type="email"]:focus {
    outline: none;
    background-color: white;
}

.mail a {
    width: 40px;
    height: 40px;
    border: none;
    float: right;
    background: url(img/plane.png) no-repeat;
}

.social a {
    width: 25px;
    display: inline-block;
    margin-top: -5px;
    margin-right: 5px;
}
